*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.6;
  font-weight: 900;
  color: var(--black); }

body {
  background-image: linear-gradient(110deg, #f93d66, #6d47d9); }

:root {
  --yellow: #ffc600;
  --black: #272727; }

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 3.5rem;
  background-color: var(--yellow); }

.container {
  display: grid;
  grid-template-columns: repeat(5, 10rem);
  grid-template-rows: 20rem 10rem 40rem;
  grid-gap: 2rem; }
