*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.6;
  font-weight: 900;
  color: var(--black); }

body {
  background-image: linear-gradient(110deg, #f93d66, #6d47d9); }

:root {
  --yellow: #ffc600;
  --black: #272727; }

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 3.5rem;
  background-color: var(--yellow); }

.container {
  border: 0.5rem solid var(--yellow);
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 50rem 1fr;
  grid-template-rows: 15rem 15rem 15rem;
  grid-template-areas: "sidebar-1 content sidebar-2" "sidebar-1 content sidebar-2" "footer footer footer"; }

.item1 {
  grid-area: sidebar-1; }

.item2 {
  grid-area: content; }

.item3 {
  grid-area: sidebar-2; }

.item4 {
  grid-area: footer; }

@media (max-width: 700px) {
  .container {
    grid-template-areas: "sidebar-1 content ." "sidebar-1 content ." "sidebar-2 content ." "sidebar-2 content ." "footer footer footer"; } }
