*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.6;
  font-weight: 900;
  color: var(--black); }

body {
  background-image: linear-gradient(110deg, #f93d66, #6d47d9); }

:root {
  --yellow: #ffc600;
  --black: #272727; }

.item {
  font-size: 1.5rem;
  background-color: white; }

.container {
  border: 0.5rem solid var(--yellow);
  margin: 5rem auto;
  max-width: 900px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 10rem);
  grid-template-rows: repeat(5, 10rem);
  justify-content: center;
  grid-auto-rows: 10rem; }

.item3 {
  justify-self: center; }
