h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.robots {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.head,
.left-arm,
.torso,
.right-arm,
.left-leg,
.right-leg {
    background-color: #70c037;
}

.head {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 200px 200px 0px 0px;
}

.eyes {
    display: flex;
}

.head:hover {
    width: 300px;
    transition: 1s ease-in-out;
}

.upper_body {
    width: 300px;
    height: 150px;
    display: flex;
}

.left-arm, .right-arm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
}

.left-arm {
    margin-right: 10px;
}

.right-arm {
    margin-left: 10px;
}

.torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
}

.lower_body {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.left-leg, .right-leg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
}


.left-leg { 
	margin-left: 45px; 
}

.left-arm:hover {
    transform: rotate(20deg);
}

.right-arm:hover {
    transform: rotate(-20deg);
}

.left-leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right-leg:hover {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.right-leg { 
	margin-left: 30px; 
}

.left-eye, .right-eye {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 15px;
}

.left-eye {
    position: relative;
    top: 100px;
    left: 40px;
}

.right-eye {
    position: relative;
    top: 100px;
    left: 120px;
}