.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 3.5rem;
  background-color: var(--yellow);
}

.container {
  border: 0.5rem solid var(--yellow);

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [side-left] 1fr [content-start] 7fr [content-end] 1fr [side-right];
  grid-template-rows: [content-top] repeat(10, auto) [content-bottom];
}

.item3 {
  background-color: mistyrose;
  grid-column: content-start / content-end;
  grid-row: content-top / content-bottom;
}
