.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  font-size: 3.5rem;
  background-color: var(--yellow);
}

.container {
  display: grid;
  grid-template-columns: 10rem 20rem;
  grid-template-rows: 5rem 10rem;
  grid-auto-rows: 50rem 10rem;
  grid-gap: 2rem;
}